<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mybatis.mapper.TeamMapper">


    <select id="selectTeamOne" parameterType="String" resultMap="TeamRsMap">
       SELECT SEQ
            , NAME
       FROM   TEAM
       WHERE  SEQ = ${seq}
    </select>


    <resultMap id="TeamRsMap" type="com.example.demo.mybatis.vo.TeamVO">
        <id property="seq" column="SEQ" javaType="long"></id>
        <result property="name" column="NAME" javaType="String"></result>
        <collection property="members" ofType="com.example.demo.mybatis.vo.MemberVO">
            <id property="seq" column="MEM_SEQ" javaType="long"></id>
            <result property="name" column="MEM_NAME" javaType="String"></result>
            <result property="sex" column="SEX" javaType="String"></result>
        </collection>
    </resultMap>

    <select id="selectTeam" parameterType="com.example.demo.mybatis.vo.TeamVO"  resultMap="TeamRsMap">
        SELECT T.SEQ
             , T.NAME
             , M.SEQ AS MEM_SEQ
             , M.NAME AS MEM_NAME
             , M.SEX AS SEX
        FROM   TEAM T
        LEFT JOIN MEMBER M
        ON     T.SEQ = M.TEAM_SEQ
        WHERE  T.SEQ = #{seq}
        ORDER BY T.SEQ,M.SEQ
    </select>




<!--
    <resultMap id="TeamRsMap" type="com.example.demo.mybatis.vo.TeamVO">
        <id property="seq" column="SEQ" javaType="long"></id>
        <result property="name" column="NAME" javaType="String"></result>
        <collection property="members" ofType="com.example.demo.mybatis.vo.MemberVO">
            <id property="seq" column="MEM_SEQ" javaType="long"></id>
            <result property="birthDay" column="BIRTH_DAY" javaType="String" typeHandler="com.example.demo.mybatis.typeHandler.BirthDayHandler"></result>
            <result property="name" column="MEM_NAME" javaType="String"></result>
            <result property="sex" column="SEX" javaType="String"></result>
        </collection>
    </resultMap>



    <select id="selectTeam" parameterType="com.example.demo.mybatis.vo.TeamVO"  resultMap="TeamRsMap">
        SELECT T.SEQ
             , T.NAME
             , M.SEQ AS MEM_SEQ
             , M.NAME AS MEM_NAME
             , M.SEX AS SEX
        FROM   TEAM T
        LEFT JOIN MEMBER M
        ON     T.SEQ = M.TEAM_SEQ
        WHERE  T.SEQ = #{seq}
        ORDER BY T.SEQ , M.SEQ
    </select>

-->


</mapper>